<div class="container p-5">

  <h2 class="mb-3"> <i class="fa fa-key" aria-hidden="true"></i> Reset Password </h2>

  <div class="col-12 setting">
    <div class="row">

      <div class="col-md-6 m-auto">

      <!-- Old Password -->
      <div class="card text-center cursor p-5" *ngIf="!isOldPasswordBox" >
        <form  [formGroup]="OldPassForm" >
          <div class="form-group">
            <label class="float-start fw-bold" style="font-size:18px;" > <i class="fa fa-lock" aria-hidden="true"></i>
              Old Password </label>
            <input type="password" class="form-control" formControlName="oldPassword" placeholder="Enter Old Password" name="oldPassword">
            <span class="validation-msg" *ngIf="form.get('oldPassword').touched && form.get('oldPassword').value != userData['password']"> Password is not matched
          </span> 
          </div>
        </form>

          <button class="btn next-btn mt-3" [disabled]="!form.valid" 
          (click)="CheckOldPassword(OldPassForm)">
            Next
          </button>
        </div>  

        <!-- New Password -->
        <div class="card text-center cursor p-5" *ngIf="isOldPasswordBox">
          <form action="" [formGroup]="SetNewPasswordForm" >
            <div class="form-group">
              <label class="float-start fw-bold" style="font-size: 18px;" > <i class="fa fa-lock" aria-hidden="true"></i>
                New Password </label>
              <input type="password" class="form-control" formControlName="password" name="password" placeholder="Enter Old Password">

              <span class="validation-msg" *ngIf="NewPassForm.get('password').touched && 
              NewPassForm.get('password').hasError('required')"> 
                Please Enter the Password 😡
              </span>

            </div>

            <div class="form-group float-start">
              <label class="float-start fw-bold" style="font-size: 18px;" > <i class="fa fa-lock" aria-hidden="true"></i>
                Confirm Password </label>
              <input type="password" class="form-control" formControlName="confirmPassword" 
              name="confirmPassword" placeholder="Enter Old Password">

              <span class="validation-msg" *ngIf="NewPassForm.get('confirmPassword').touched && 
              NewPassForm.get('confirmPassword').hasError('required')"> 
                Please Enter the Password 😡  
              </span>
              <br>

              <div class="validation-msg" *ngIf="NewPassForm.errors.passwordNotMatch && (NewPassForm.get('confirmPassword').dirty || NewPassForm.get('confirmPassword').touched)">
                Password Does not match 🖕!
              </div>
            </div>
          </form>

          <button class="btn next-btn mt-3" (click)="submitNewPassword(SetNewPasswordForm)" >Save</button>
        </div>


      </div>
    </div>
  </div>
</div>

