<header role="banner">
  <h3>Loan Management</h3>
  <ul class="utilities">

    <li class="users nav-item dropdown" *ngIf="_authService.loggedIn()">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{userData.email | titlecase}}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">

        <li><a class="dropdown-item cursor" [routerLink]="['user','edit-user']" >
          <i class="fa fa-cog" style="padding-right: 0.6rem;" ></i>
          Edit User</a>
        </li>

        <li><a class="dropdown-item cursor" [routerLink]="['user','reset-password']" >
          <i class="fa fa-key" style="padding-right: 0.6rem;" ></i>
          Reset Password</a>
        </li>

      </ul>
    </li>

    <li class="logout warn text-dark" *ngIf="!_authService.loggedIn()" routerLink="/login" ><a style="cursor: pointer;" >LogIn</a></li>

    <li class="logout warn text-dark" *ngIf="!_authService.loggedIn()" routerLink="/register" ><a style="cursor: pointer;" >Register</a></li>
    <li class="logout warn text-danger " *ngIf="_authService.loggedIn()"  (click)="LogoutUser()" ><a style="cursor: pointer;" >Log Out</a></li>


  </ul>

</header>


