
<div class="container">
  <h2 class="p-4 m-4" >Customer Details</h2>
  <div class="card p-4 m-4">
    <table>
      <tr>
         <td> Name :</td>
         <td>{{ customerDetails?.firstName}} {{ customerDetails?.lastName }}</td>
        </tr>
      <tr>
        <td>Email :</td>
        <td>{{ customerDetails?.emailAddress }}</td>
      </tr>
      <tr>
        <td>Phone Number :</td>
        <td>{{ customerDetails?.phoneNumber }}</td>
        </tr>
      <tr>
        <td>Date Of Birth :</td>
        <td>{{ customerDetails?.dob }}</td>
          </tr>
  </table>
  </div>
</div>