
<section class="container">
  <div class="col-md-11 m-auto pt-3">
    <div class="row">
      <div class="col-md-6">
        <h5>Loan Types</h5>
      </div>
      <div class="col-md-6" >
        <button class="btn btn-success" style="float:right;" 
        [routerLink]="'add'" >Add Loans Types</button>
      </div>
    </div>
  
    <div class="row pt-4">
      <table class="table table-shadow">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i class="fa fa-trash-o" style="padding-left: 5px;" aria-hidden="true"></i>  
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <i class="fa fa-trash-o" style="padding-left: 5px;" aria-hidden="true"></i>  
          </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <i class="fa fa-trash-o" style="padding-left: 5px;" aria-hidden="true"></i>  
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
</section>

<section>
  
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item active" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
</section>
