
.setting .card{
  background-color: #2a3542e0;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: 0.3s;
}

.setting .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.setting h6{
  font-size: 11px !important;
}
